
.barra_tareas {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.3rem;
    z-index: 1000;

    background: linear-gradient(to top, #0b3b8c, #3a6fd9);
    border-top: 2px solid #0b2558;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-right: 0.3rem;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

.barra_izquierda {
    display: flex;
    align-items: left;
}

.barra_derecha {
    display: flex;
    align-items: center;
}

#boton_inicio {
    position: relative;
    z-index: 10000;
    background: none;
    border: none;
    padding-top: 0.3rem;
    cursor: pointer;
}

.icono_inicio {
    height: 5.5rem;
    width: auto;
}

.bloc_de_notas {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 0.4rem;
    padding-left: 0.5rem;
}

.icono_notas {
    height: 2rem;
    width: auto;
}

.icono_notas:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
    transition: 0.15s ease;
}

.tray-icon {
    height: 1.7rem;
    width: auto;
    margin-right: 6px;
}

.reloj {
    background: rgba(0,0,0,0.2);
    border: 0.1rem solid rgba(255,255,255,0.3);
    border-radius: 0.3rem;
    padding: 0.1rem 0.5rem;
    font-size: 0.75rem;
    color: white;
    cursor: pointer;
}

.reloj:hover {
    background: rgba(255,255,255,0.15);
}

.calendario {
    position: fixed;
    bottom: 2.5rem;
    right: 0.4rem;
    width: 14rem;

    background: #f0f0f0;
    border: 0.2rem solid #3a6ea5;
    border-radius: 4px;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.4);

    font-family: Tahoma, sans-serif;
    user-select: none;
    z-index: 9999;
}

.hidden {
    display: none;
}

.calendario_arriba {
    background: linear-gradient(to bottom, #2b78d4, #0055a5);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    font-weight: bold;
    font-size: 14px;

    border-bottom: 1px solid #003c74;
}

.boton_calendario {
    background: #e1e1e1;
    border: 1px solid #707070;
    width: 22px;
    height: 22px;
    cursor: pointer;
    color: black;
    border-radius: 2px;
    padding: 0;
}

.boton_calendario:hover {
    background: #ffffff;
}

.calendario_cuadricula {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
}

.calendario_cuadricula th {
    background: #d6e7ff;
    border-bottom: 1px solid #a1b9d6;
    padding: 3px;
}

.calendario_cuadricula td {
    width: 28px;
    height: 22px;
    padding: 2px;
    cursor: pointer;
}

.calendario_cuadricula td:hover {
    background: #c0d7ff;
}

.dia_elegido {
    background: #2c56dd !important;
    color: white !important;
    border: 1px solid #062077;
}

.hoy {
    background: #fffbcc;
    border: 1px solid #d4c000;
}

.calendario_patas {
    padding: 5px;
    font-size: 12px;
    border-top: 1px solid #cccccc;
    background: #ffffff;
}

.clippy-popup {
    position: fixed;
    right: 3rem;
    top: 67%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 0.1rem;
    z-index: 99999;
}

.clippy-img {
    width: 6rem;
    height: auto;
}

.clippy-message {
    font-size: 0.9rem;
    position: relative;
    background: #fffbc7;
    border: 0.1rem solid #000000;
    border-radius: 0.4rem;
    padding: 0.5rem 0.5rem;
    width: 12rem;
    font-family: Tahoma, sans-serif;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.204);
}

.clippy-close {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 0.5rem;
    height: 0.9rem;
    background: #dc1414;
    color: white;
    font-weight: bold;
    border-radius: 0.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clippy-close:hover {
    background: #c43e3e;
}